.marbling_container {
    width: 100%;
    min-width: 100%;
    height: 800px;
    background: rgb(225, 11, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.marbling_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.marbling_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.marbling_images img {
    width: 240px;
    height: 300px;
    margin: 0px 10px;
}

.marbling_text {
    width: 100%;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
}

@media only screen and (max-width: 992px) {
    .marbling_container {
        height: 700px;
    }

    .marbling_images img {
        width: 150px;
        height: 200px;
    }
}