.type_container {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.type_content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.type_header {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.images_display {
    width: 50%;
    margin: 30px;
}

.images_display img {
    width: 500px;
    height: 350px;
}

.type_info {
    width: 50%;
    margin-top: 30px;
    font-family: 'Raleway';
}

.header_title {
    color: rgb(182, 114, 26);
}

.header_title h1 {
    margin-bottom: 25px;
}

.header_title p {
    font-size: 25px;
    margin-bottom: 30px;
}

.header_description {
    font-size: 15px;
    margin-bottom: 50px;
}

.selection {
    margin-left: 50px;
    width: 400px;
    border: none;
    background: rgb(236, 236, 236);
    padding: 5px;
}

.body_description {
    margin-top: 50px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background: rgb(236, 236, 236)
}

.buttons button {
    border: none;
    padding: 5px 10px;
    font-size: 20px;
}

.body_text {
    background: white;
    padding: 20px;
    font-family: 'Raleway';
}

.description p,
li {
    font-size: 20px;
}

.description p {
    margin: 15px 0px;
}

.additional_info {
    height: 400px;
}

.additional_info h1 {
    color: rgb(182, 114, 26);
}

.Table {
    height: 300px;
}

.recommendation_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway';
    color: rgb(182, 114, 26);
}

.recommended_content {
    display: flex;
    flex-direction: row;
}